<div class="layout-container">
  <aside class="layout-sidebar">
    <app-panelmenu-demo (onDeviceSelect)="cargarTablaDispositivos($event)"></app-panelmenu-demo>
  </aside>
  <main class="layout-main">
    <div class="layout-content">
      <app-toolbar 
        [tipoVistaActual]="tipoVistaActual" 
        (datosActualizados)="obtenerDatos($event)">
      </app-toolbar>
      <app-table-demo
        [loading]="loading"
        [datos]="datos"
        [columnas]="columnas"
        [camposFiltroGlobal]="camposFiltroGlobal"
        (datosActualizados)="obtenerDatos($event)"
      ></app-table-demo>
    </div>
  </main>
</div>
