<div class="layout-container">
  <aside class="layout-sidebar">
    <app-panelmenu-demo (onDeviceSelect)="cargarTablaDispositivos($event)"></app-panelmenu-demo>
  </aside>
  <main class="layout-main">
    <div class="layout-content">
      <app-toolbar (datosActualizados)="obtenerDatos()"></app-toolbar>
      <app-table-demo
        [datos]="datos"
        [columnas]="columnas"
        [camposFiltroGlobal]="camposFiltroGlobal"
        (datosActualizados)="obtenerDatos()"
      ></app-table-demo>
    </div>
  </main>
</div>
