<p-dialog
  [(visible)]="visible"
  [style]="{ width: '450px' }"
  [header]="dispositivo().idDispositivo ? 'Modificar Dispositivo' : 'Agregar Dispositivo'"
  [modal]="true"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <div class="flex flex-col gap-6" [formGroup]="form">
      <div>
        <label for="numeroSerie" class="block font-bold mb-3">Número de serie</label>
        <input
          type="text"
          pInputText
          id="numeroSerie"
          formControlName="numeroSerie"
          required
          autofocus
          fluid
        />
        @if (submitted() && form.get('numeroSerie')?.invalid) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="marcaDisp" class="block font-bold mb-3">Marca de Dispositivo</label>
        <input
          type="text"
          pInputText
          id="marcaDisp"
          formControlName="marcaDisp"
          required
          fluid
        />
        @if (submitted() && form.get('marcaDisp')?.invalid) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="modeloDisp" class="block font-bold mb-3">Modelo de Dispositivo</label>
        <input
          type="text"
          pInputText
          id="modeloDisp"
          formControlName="modeloDisp"
          required
          fluid
        />
        @if (submitted() && form.get('modeloDisp')?.invalid) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="tamanoPantalla" class="block font-bold mb-3">Tamaño de pantalla</label>
        <input
          type="text"
          pInputText
          id="tamanoPantalla"
          formControlName="tamanoPantalla"
          required
          fluid
        />
        @if (submitted() && form.get('tamanoPantalla')?.invalid) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="fechaCompra" class="block font-bold mb-3">Fecha de Compra</label>
        <p-datepicker
          formControlName="fechaCompra"
          [iconDisplay]="'input'"
          [showIcon]="true"
          inputId="fechaCompra"
          appendTo="body"
          dateFormat="dd/mm/yy"
        />
        @if (submitted() && form.get('fechaCompra')?.invalid) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="tipoDispositivo" class="block font-bold mb-3">Tipo de Dispositivo</label>
        <p-select
          formControlName="tipo"
          inputId="tipoDispositivo"
          [options]="tiposDeDispositivo"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione un tipo"
          fluid
          appendTo="body"
        />
        @if (submitted() && form.get('tipo')?.invalid) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>

      @if (form.get('tipo')?.value === 'computador') {
        <div>
          <label for="procesadorComp" class="block font-bold mb-3">Procesador</label>
          <input
            type="text"
            pInputText
            id="procesadorComp"
            formControlName="procesadorComp"
            required
            fluid
          />
          @if (submitted() && form.get('procesadorComp')?.invalid) {
            <small class="text-red-500">Obligatorio.</small>
          }
        </div>
        <div>
          <label for="memoriaComp" class="block font-bold mb-3">Memoria RAM</label>
          <input
            type="text"
            pInputText
            id="memoriaComp"
            formControlName="memoriaComp"
            required
            fluid
          />
          @if (submitted() && form.get('memoriaComp')?.invalid) {
            <small class="text-red-500">Obligatorio.</small>
          }
        </div>
        <div>
          <label for="almacenamientoComp" class="block font-bold mb-3">Almacenamiento</label>
          <input
            type="text"
            pInputText
            id="almacenamientoComp"
            formControlName="almacenamientoComp"
            required
            fluid
          />
          @if (submitted() && form.get('almacenamientoComp')?.invalid) {
            <small class="text-red-500">Obligatorio.</small>
          }
        </div>
      } @else if (form.get('tipo')?.value === 'telefono') {
        <div>
          <label for="numeroTelefono" class="block font-bold mb-3">Número de Teléfono</label>
          <input
            type="text"
            pInputText
            id="numeroTelefono"
            formControlName="numeroTelefono"
            required
            fluid
          />
          @if (submitted() && form.get('numeroTelefono')?.invalid) {
            <small class="text-red-500">Obligatorio.</small>
          }
        </div>
        <div>
          <label for="companiaTelefono" class="block font-bold mb-3">Compañía</label>
          <input
            type="text"
            pInputText
            id="companiaTelefono"
            formControlName="companiaTelefono"
            required
            fluid
          />
          @if (submitted() && form.get('companiaTelefono')?.invalid) {
            <small class="text-red-500">Obligatorio.</small>
          }
        </div>
      }

      <div>
        <label for="estadoDisp" class="block font-bold mb-3">Estado de Dispositivo</label>
        <p-select
          formControlName="estadoDisp"
          inputId="estadoDisp"
          [options]="statuses"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione un estado"
          fluid
          appendTo="body"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button label="Cancelar" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
    <p-button label="Guardar" icon="pi pi-check" (onClick)="saveDispositivo()" />
  </ng-template>
</p-dialog>
