<p-dialog
  [(visible)]="visible"
  [style]="{ width: '450px' }"
  [header]="dispositivo.idDispositivo ? 'Modificar Dispositivo' : 'Agregar Dispositivo'"
  [modal]="true"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <div class="flex flex-col gap-6">
      <div>
        <label for="numeroSerie" class="block font-bold mb-3">Número de serie</label>
        <input
          type="text"
          pInputText
          id="numeroSerie"
          [(ngModel)]="dispositivo.numeroSerie"
          required
          autofocus
          fluid
        />
        @if (submitted && !dispositivo.numeroSerie) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="marcaDisp" class="block font-bold mb-3">Marca de Dispositivo</label>
        <input
          type="text"
          pInputText
          id="marcaDisp"
          [(ngModel)]="dispositivo.marcaDisp"
          required
          fluid
        />
        @if (submitted && !dispositivo.marcaDisp) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="modeloDisp" class="block font-bold mb-3">Modelo de Dispositivo</label>
        <input
          type="text"
          pInputText
          id="modeloDisp"
          [(ngModel)]="dispositivo.modeloDisp"
          required
          fluid
        />
        @if (submitted && !dispositivo.modeloDisp) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="tamanoPantalla" class="block font-bold mb-3">Tamaño de pantalla</label>
        <input
          type="text"
          pInputText
          id="tamanoPantalla"
          [(ngModel)]="dispositivo.tamanoPantalla"
          required
          fluid
        />
        @if (submitted && !dispositivo.tamanoPantalla) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="fechaCompra" class="block font-bold mb-3">Fecha de Compra</label>
        <p-datepicker
          [(ngModel)]="dispositivo.fechaCompra"
          [iconDisplay]="'input'"
          [showIcon]="true"
          inputId="fechaCompra"
          appendTo="body"
          dateFormat="dd/mm/yy"
        />
        @if (submitted && !dispositivo.fechaCompra) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="tipoDispositivo" class="block font-bold mb-3">Tipo de Dispositivo</label>
        <p-select
          [(ngModel)]="dispositivo.tipo"
          inputId="tipoDispositivo"
          [options]="tiposDeDispositivo"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione un tipo"
          fluid
          appendTo="body"
        />
      </div>

      @if (dispositivo.tipo === 'computador') {
        <div>
          <label for="procesadorComp" class="block font-bold mb-3">Procesador</label>
          <input
            type="text"
            pInputText
            id="procesadorComp"
            [(ngModel)]="dispositivo.procesadorComp"
            required
            fluid
          />
          @if (submitted && !dispositivo.procesadorComp) {
            <small class="text-red-500">Obligatorio.</small>
          }
        </div>
        <div>
          <label for="memoriaComp" class="block font-bold mb-3">Memoria RAM</label>
          <input
            type="text"
            pInputText
            id="memoriaComp"
            [(ngModel)]="dispositivo.memoriaComp"
            required
            fluid
          />
          @if (submitted && !dispositivo.memoriaComp) {
            <small class="text-red-500">Obligatorio.</small>
          }
        </div>
        <div>
          <label for="almacenamientoComp" class="block font-bold mb-3">Almacenamiento</label>
          <input
            type="text"
            pInputText
            id="almacenamientoComp"
            [(ngModel)]="dispositivo.almacenamientoComp"
            required
            fluid
          />
          @if (submitted && !dispositivo.almacenamientoComp) {
            <small class="text-red-500">Obligatorio.</small>
          }
        </div>
      } @else if (dispositivo.tipo === 'telefono') {
        <div>
          <label for="numeroTelefono" class="block font-bold mb-3">Número de Teléfono</label>
          <input
            type="text"
            pInputText
            id="numeroTelefono"
            [(ngModel)]="dispositivo.numeroTelefono"
            required
            fluid
          />
          @if (submitted && !dispositivo.numeroTelefono) {
            <small class="text-red-500">Obligatorio.</small>
          }
        </div>
        <div>
          <label for="companiaTelefono" class="block font-bold mb-3">Compañía</label>
          <input
            type="text"
            pInputText
            id="companiaTelefono"
            [(ngModel)]="dispositivo.companiaTelefono"
            required
            fluid
          />
          @if (submitted && !dispositivo.companiaTelefono) {
            <small class="text-red-500">Obligatorio.</small>
          }
        </div>
      }

      <div>
        <label for="estadoDisp" class="block font-bold mb-3">Estado de Dispositivo</label>
        <p-select
          [(ngModel)]="dispositivo.estadoDisp"
          inputId="estadoDisp"
          [options]="statuses"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleccione un estado"
          fluid
          appendTo="body"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="saveDispositivo()" />
  </ng-template>
</p-dialog>
