<p-dialog
  [(visible)]="visible"
  [style]="{ width: '450px' }"
  [header]="empleado().idEmpleado ? 'Modificar Empleado' : 'Agregar Empleado'"
  [modal]="true"
  (onHide)="hideDialog()"
>
  <ng-template pTemplate="content">
    <div class="flex flex-col gap-6" [formGroup]="form">
      <div>
        <label for="nombresEmpleado" class="block font-bold mb-3">Nombre</label>
        <input
          type="text"
          pInputText
          id="nombresEmpleado"
          formControlName="nombresEmpleado"
          required
          autofocus
          fluid
        />
        @if (submitted() && form.get('nombresEmpleado')?.invalid) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="apellidosEmpleado" class="block font-bold mb-3">Apellido</label>
        <input
          type="text"
          pInputText
          id="apellidosEmpleado"
          formControlName="apellidosEmpleado"
          required
          fluid
        />
        @if (submitted() && form.get('apellidosEmpleado')?.invalid) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="rutEmpleado" class="block font-bold mb-3">RUT</label>
        <input
          type="text"
          pInputText
          id="rutEmpleado"
          formControlName="rutEmpleado"
          required
          fluid
        />
        @if (submitted() && form.get('rutEmpleado')?.invalid) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="emailEmpleado" class="block font-bold mb-3">Correo electrónico</label>
        <input
          type="text"
          pInputText
          id="emailEmpleado"
          formControlName="emailEmpleado"
          required
          fluid
        />
        @if (submitted() && form.get('emailEmpleado')?.invalid) {
          @if (form.get('emailEmpleado')?.hasError('required')) {
            <small class="text-red-500">Obligatorio.</small>
          } @else if (form.get('emailEmpleado')?.hasError('email')) {
            <small class="text-red-500">Formato de correo inválido.</small>
          }
        }
      </div>
      <div>
        <label for="telefonoEmpleado" class="block font-bold mb-3">Teléfono</label>
        <input
          type="text"
          pInputText
          id="telefonoEmpleado"
          formControlName="telefonoEmpleado"
          required
          fluid
        />
        @if (submitted() && form.get('telefonoEmpleado')?.invalid) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="nacionalidadEmpleado" class="block font-bold mb-3">Nacionalidad</label>
        <input
          type="text"
          pInputText
          id="nacionalidadEmpleado"
          formControlName="nacionalidadEmpleado"
          required
          fluid
        />
        @if (submitted() && form.get('nacionalidadEmpleado')?.invalid) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div>
        <label for="cargoEmpleado" class="block font-bold mb-3">Cargo</label>
        <input
          type="text"
          pInputText
          id="cargoEmpleado"
          formControlName="cargoEmpleado"
          required
          fluid
        />
        @if (submitted() && form.get('cargoEmpleado')?.invalid) {
          <small class="text-red-500">Obligatorio.</small>
        }
      </div>
      <div></div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-3">
      <button
        pButton
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        label="Guardar"
        icon="pi pi-check"
        (click)="saveEmpleado()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
