<p-toast />
<p-toolbar class="mb-6">
  <ng-template #start>
    <p-button type="button" pRipple label="Agregar" severity="success" (onClick)="abrirDialogo()" />

  </ng-template>
  <ng-template #end>
    @if (esVistaImportable()) {
      <p-button
        label="Descargar Plantilla"
        icon="pi pi-download"
        severity="info"
        [outlined]="true"
        (onClick)="descargarPlantilla()"
        class="mr-2 inline-block"
      />
      <p-fileUpload
        mode="basic"
        accept=".xlsx, .xls"
        [maxFileSize]="10000000"
        [chooseLabel]="isUploading() ? 'Importando...' : 'Importar Excel'"
        [chooseIcon]="isUploading() ? 'pi pi-spin pi-spinner' : 'pi pi-file-excel'"
        [disabled]="isUploading()"
        [auto]="true"
        [customUpload]="true"
        (uploadHandler)="onUpload($event)"
        class="mr-2 inline-block"
        [chooseButtonProps]="{ severity: 'secondary', outlined: true }"
      />
    }
  </ng-template>
</p-toolbar>

  <app-dialogo-dispositivo
    [(visible)]="visible"
    [dispositivo]="dataSelectedDispositivo()"
    (onSave)="guardarDispositivo($event)"
  ></app-dialogo-dispositivo>
  <app-dialogo-empleado
    [(visible)]="visibleEmpleado"
    [empleado]="dataSelectedEmpleado()"
    (onSave)="guardarEmpleado($event)"
  ></app-dialogo-empleado>
  <app-dialogo-asignacion
    [(visible)]="visibleAsignacion"
    (onSave)="guardarAsignacion($event)"
  ></app-dialogo-asignacion>

<!--

-->
